html, body {
  box-sizing: border-box;
  font-family: 'Quicksand', sans serif;
  font-weight: 400;
  margin: auto;
  padding: 0;
  width: 100%;
}

.idea-entry {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px;
}

input {
  height: 30px;
  margin: 20px;
  display: block;
}

.add-button {
  margin: 20px;
  padding: 0.5%;
}

hr {
  width: 80%;
}

